/*scss/base/_colors.scss*/

$color1: #FE8BB2;
$color2: #A57BB5;
$color3: #82E6F4;
$color4: #C0FED4;
$color5: #FFD100;
$color6: #ED5580;


.color1{
  background: $color1;
}
.color2{
  background: $color2;
}
.color3{
  background: $color3;
}
.color4{
  background: $color4;
}
.color5{
  background: $color5;
}
.color6{
  background: $color6;
}


.colors:before,
.colors:after {
  content: " ";
  display: table;
}

.colors:after {
  clear: both;
}
.colors {
  *zoom: 1;
}
.color{
  width:100px;
  height:100px;
  float:left;
  margin-right:10px;
  padding:10px;
  color:#fff;
  font-size:12px;
}

.colorFixed{
  position: fixed;
  z-index: 3000;
  right: 0;
  top: 0;
  box-shadow: 0px 0px 8px 0px rgba(0,0,0,0.57);
  .color{
    float: none;
    margin-right:0;
    width:70px;
    height:50px;
  }
}